#cursor {
    position: relative;
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    opacity: 0%;

    &.click {
        cursor: none;
        animation: wave1 1s infinite;
        opacity: 70%;

        &::after {
            animation: wave2 1s infinite;
        }

        &::before {
            animation: wave3 1s infinite;
        }
    }

    &::after, &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        aspect-ratio: 1/1;
        border-radius: 100%;
    }

    &::before {
        height: 40px;
        width: 40px;
        opacity: 50%;
        z-index: 2;
    }
    
    &::after {
        height: 60px;
        width: 60px;
        opacity: 30%;
        z-index: 3;
    }
}
