#cursor{
    margin: 5vh auto 0;
    position: relative;
    height: 20px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 100%;
    opacity: 70%;
    animation: wave1 2s infinite;
}

#cursor::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 100%;
    opacity: 50%;
    z-index: 2;
    animation: wave2 2s infinite;
}

#cursor::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 60px;
    width: 60px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 100%;
    opacity: 30%;
    z-index: 3;
    animation: wave3 2s infinite;
}


@keyframes wave1 {
    0% {
        background-color: red;
    }
    33%{
        background-color: black;
    }
}

@keyframes wave2{
    33%{
        background-color: red;
    }
    66%{
        background-color: black;
    }
}

@keyframes wave3{
    66%{
        background-color: red;
    }
    100%{
        background-color: black;
    }
}

body{
    background-color: lightblue;
}